* {
    font-family: Open Sans;
}

body {
    font-size: 15px;
    color: rgba(0,0,0,0.75);
}

p {
    margin: 7px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.smaller-font {
    font-size: 12px;
}

.orange {
    color: #d37a48;
}

.message {
    text-align: center;
    margin-bottom: 30px;
}

button {
    background: #f09346;
    border: none;
    border-radius: 4px;
    padding: 7px 13px;
    margin: 5px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

a.button {
    background: #f09346;
    border: none;
    border-radius: 4px;
    padding: 7px 13px;
    margin: 5px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.outer {
    width: 1100px;
    margin: 50px auto 30px auto;
    position: relative;
    top: -60px;
}

img {
    width: 1100px;
}

.banner {
    width: 1100px;
}

.logo {
    width: 250px;
    height: 60px;
    color: white;
    font-size: 35px;
    font-weight: 700;
    background-color: rgba(150,140,190,0.55);
    border: 1px solid white;
    text-align: center;
    line-height: 58px;
    position: relative;
    top: 70px;
    left: 30px;
}

.menu {
    width: 400px;
    color: white;
    position: relative;
    top: -395px;
    left: 320px;
}

.menu a {
    color: white;
    margin: 0 14px;
    padding: 5px 10px;
    background-color: rgba(150,140,190,0.25);
    border: 1px solid white;
}

.container {
    width: 800px;
    margin: auto;
}

.container h2 {
    color: #d37a48;
    text-align: center;
}

.container h1 {
    margin: 40px 0 30px 0;
    text-align: center;
}

.guestbook-entry {
    width: 750px;
    min-height: 80px;
    background: rgba(190, 190, 214, 0.1);
    margin: 0 auto 35px auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.guestbook-entry h4 {
    font-size: 1.1em;
    line-height: 25px;
    padding: 5px 10px;
    margin: 0;
    background: rgba(190, 190, 214, 0.3);
    border-radius: 3px;
}

.guestbook-entry .date {
    font-size: 12px;
    padding: 10px 0 0 10px;
}

.guestbook-entry p {
    padding: 15px;
    margin: 0;
}

.guestbook-entry p a {
    color: #d37a48;
}


.guestbook-form {
    margin-top: 60px;
    margin-left: 30px;
}

.textarea {
    float: left;
}

.input {
    float: left;
    clear: right;
    margin-left: 30px;
}

.submit-button {
    clear: left;
    padding: 10px 0;
}