<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/assets/css/style.css">

    </head>

    <body>
        <div class="outer">

            <div class="banner">

                <a href="/"><div class="logo">Filton Hotels</div></a>

                <img src="/assets/img/banner.jpeg">

                <div class="menu">
                    <a href="/guestbook">Guestbook</a>
                    <a href="/deleted-messages">Deleted</a>
                    <a href="#">Contact</a>
                </div>

            </div>

            <div class="container">

                {% block content %}{% endblock content %}

            </div>
        </div>
    </body>

</html>