{% extends "base.html" %}

{% block title %}Filton Hotels | Deleted{% endblock title %}


{% block content %}

    <h1>Deleted messages</h1>

    {% for entry in entries %}
        <div class="guestbook-entry">
            <a href="/message/{{ entry.key.id() }}"><h4>{{ entry.full_name }}</h4></a>
            <p class="date"><i>{{ entry.date.strftime('%b %d %Y, %H.%M') }}</i></p>
            <p>
                {{ entry.message }}
                <br><br>
                <a href="/message/{{ entry.key.id() }}/restore">Restore | </a>
                <a href="/message/{{ entry.key.id() }}/delete-forever">Delete</a>
            </p>
        </div>
    {% endfor %}

    <div class="message">
        {% if message %}
            {{ message }}
            <br><br>

            <div class="orange">
                <a href="/">Home</a> |
                <a href="guestbook">Guestbook</a>
            </div>
        
        {% endif %}

    </div>

{% endblock content %}