{% extends "base.html" %}

{% block title %}Filton Hotels | Edit message{% endblock title %}


{% block content %}
    <h1 id="anchor">Edit message</h1>

    <p><b> {{ message.full_name }} </b></p>
    <p class="smaller-font"><i> {{ message.date.strftime('%b %d %Y, %H.%M') }} </i></p>
    <p>{{ message.message }}</p><br>

    <form action="/message/{{ message.key.id() }}/edit" method="post">
            <textarea name="edit_message" value="{{ message.message }}" cols="111" rows="5">{{ message.message }}</textarea><br>

            <button type="submit">Save</button>
    </form>

<!--jump to anchor "anchor"-->
<script> window.location.hash="anchor"; </script>

{% endblock content %}