{% extends "base.html" %}

{% block title %}Filton Hotels | Guestbook{% endblock title %}


{% block content %}

    <h1 id="anchor">Guestbook</h1>
    {% if result %}
        <div class="message">
            {{ result }}
        </div>
    {% endif %}


    {% for entry in entries %}
        <div class="guestbook-entry">
            <a href="/message/{{ entry.key.id() }}"><h4>{{ entry.full_name }}</h4></a>
            <p class="date"><i>{{ entry.date.strftime('%b %d %Y, %H.%M') }}</i></p>
            <p>
                {{ entry.message }}
                <br><br>
                <a href="/message/{{ entry.key.id() }}/edit">Edit | </a>
                <a href="/message/{{ entry.key.id() }}/delete">Delete</a>
            </p>
        </div>
    {% endfor %}

    <form class="guestbook-form" action="/guestbook" method="post">

        <div class="textarea">
            <p>Tell us about your experience:</p>
            <textarea name="message" cols="60" rows="6" required></textarea>
        </div>

        <div class="input">
            <p>Full name:</p>
            <input size="25" name="full_name"><br>
            <p>Email:</p>
            <input size="25" name="email" type="email">
        </div>

        <div class="submit-button">
            <button type="submit">Submit</button>
            <br><br>
        </div>

    </form>

<!--jump to anchor "anchor"-->
{% if result %}
    <script> window.location.hash="anchor"; </script>
{% endif %}

{% endblock content %}
