{% extends "base.html" %}

{% block title %}Filton Hotels | Homepage{% endblock title %}

{% block content %}

<h1>Welcome to Filton hotels!</h1>

<h2><a href="/guestbook">Guestbook</a> | <a href="/deleted-messages">Deleted messages</a></h2>

{% endblock content %}