{% extends "base.html" %}

{% block title %}Filton Hotels | Message{% endblock title %}


{% block content %}
    <h1>View message</h1>

    <p><b> {{ message.full_name }} </b></p>
    <p class="smaller-font"><i> {{ message.date.strftime('%b %d %Y, %H.%M') }} </i></p>
    <p>{{ message.message }}</p><br>

    <div class="orange">
        <a href="/message/{{ message.key.id() }}/edit">Edit</a> |
        <a href="/message/{{ message.key.id() }}/delete">Delete</a>
    </div>

{% endblock content %}