{% extends "base.html" %}

{% block title %}Filton Hotels | Restore message{% endblock title %}


{% block content %}
    <h1 id="anchor">Restore message</h1>

    <p><b> {{ message.full_name }} </b></p>
    <p class="smaller-font"><i> {{ message.date.strftime('%b %d %Y, %H.%M') }} </i></p>
    <p>{{ message.message }}</p><br>

    <p>Are you sure you want to restore this message?</p>

    <form action="/message/{{ message.key.id() }}/restore" method="post">
        <button type="submit">Restore</button>
    </form>

<!--jump to anchor "anchor"-->
<script> window.location.hash="anchor"; </script>

{% endblock content %}

